@model IEnumerable<SistemaRestaurante.Models.Platos>

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado</h1>

<button class="btn btn-outline-success" asp-action="Crear">Nuevo Producto</button>

<table class="table table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>


                @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id }) 


            </td>
        </tr>
}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
