@model IEnumerable<SistemaRestaurante.Models.Pedidos>

@{
    ViewData["Title"] = "Ventas";
}

<h1>Ventas</h1>


<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePlato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioPlatos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroMesa)
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.IdPedido)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NombrePlato)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PrecioPlatos)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NumeroMesa)
                </th>
           
        </tr>
}
    </tbody>
</table>
